<footer id="footer">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="footer-logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="img">
		</a>
		<div class="footer-note">
			<dl>
				<dt>
					日本
				</dt>
				<dd>
					<p><img src="<%= RELATIVE_PATH %>img/common/maps.png" alt="img" width="22">〒343-0827 埼玉県越谷市川柳町2丁目401</p>
<!--					<a href="mailto:salse@landbridge.vn" class="pc"><img src="<%= RELATIVE_PATH %>img/common/mail.png" alt="img" width="29" >salse@landbridge.vn</a>-->
				</dd>
			</dl>
			<dl>
				<dt>
					ベトナム
				</dt>
				<dd>
					<p>
						<img src="<%= RELATIVE_PATH %>img/common/maps.png" alt="img" width="22">
						Ha Noi 市 Hoai  Duc区<br>
						An Phu 町 Thang Long Capital ビル
					</p>
				</dd>
			</dl>
		</div>
		<div class="footer-menu">
			<ul>
				<li><a href="">サービス</a></li>
				<li><a href="">お知らせ</a></li>
				<li><a href="">私たちについて</a></li>
				<li><a href="">企業情報</a></li>
				<li><a href="">お問い合わせ</a></li>
			</ul>
			<ul>
				<li><a href="">プライバシーポリシー</a></li>
				<li><a href="">利用規約</a></li>
			</ul>
		</div>
	</div>
	<div class="copyright c-al--c">
		© 2023 LandBridge.Co., Ltd. <br class="sp">ALL RIGHTS RESERVED
	</div>
</footer>