<main class="page-<%= pageData.template %>">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/about/mv.png" alt="img" class="pc">
			<img src="<%= RELATIVE_PATH %>img/about/mv-sp.png" alt="img" class="sp">
		</div>
		<h1 class="c-ttl__01 c-fc--white">
			<span class="c-ft--en">ABOUT US</span>
			<span class="c-ft--jp">私たちについて</span>
		</h1>
	</section>
	<section class="sec-about">
		<div class="inner">
			<div class="about-block c-txt__basic">
				<h2 class="c-ttl__02">海に囲まれた日本で世界との架け橋を</h2>
				<p>
					私たちは日本と世界を繋ぐグローバル企業です。<br>
					だからこそ人と人とのつながりを大事にしてビジネスを発展させています。<br>
					現在は日本とベトナムに拠点を構えています。<br>
					0からLandBridgeを設立して、現在は規模をどんどん拡大しています。<br>
					メンバーも日々増えて、<br>
					メイン事業のシステム開発では日々案件が増加しています。<br>
					そんな中でも我々は特に『信頼』を重要視しています。<br>
					いいメンバーといいチームで仕事をできるこんな素晴らしいことはありません。<br>
					この広い地球であなたがこのホームページをみていることも奇跡的なことです。<br>
					ぜひ気軽にご連絡をお待ちしています。
				</p>
			</div>
		</div>
	</section>
	<section class="sec-mesage">
		<div class="mesage-img">
			<img src="<%= RELATIVE_PATH %>img/about/mesage-img.png" alt="img">
		</div>
		<div class="inner">
			<div class="mesage-bock c-txt__basic">
				<h2 class="c-ttl__01">
					<span class="c-ft--en">MESSAGE</span>
					<span class="c-ft--jp">メッセージ</span>
				</h2>
				<p>
					LandBridgeは『日本と世界を繋ぐ架け橋』をビジョンに掲げています。<br>
					我々は日本が海外の方々と何の障壁なく、<br>
					当たり前に働ける世の中を目指しています。
				</p>
				<p>
					日本は少子高齢化の影響を受け、<br>
					労働者が確実に減っていきます。<br>
					特にIT人材不足は深刻です。
				</p>
				<p>
					そんな中でAIなどのテクノロジーの進化により人がやるべき仕事は減ることは確実ですが、<br>
					まだまだ労働力は必要です。
				</p>
				<p>
					海外人材と協力していくことができれ、<br>
					日本はまだ希望は残されていると信じています。<br>
					駆け出しのベンチャー企業ではありますが、<br>
					日本の社会問題を解決して、<br>
					日本から再びイノベーションを起こせるように注力していきます。
				</p>
				<span class="mesage-bock__name">
					<img src="<%= RELATIVE_PATH %>img/about/name.png" alt="img">
				</span>
			</div>
		</div>
	</section>
	<section class="sec-copany">
		<div class="inner">
			<div class="copany-block">
				<h2 class="c-ttl__01">
					<span class="c-ft--en">COMPANY</span>
					<span class="c-ft--jp">会社概要</span>
				</h2>
				<div class="copany-block__note c-txt__basic">
					<table>
						<tr>
							<th>会社名</th>
							<td>LandBridge株式会社</td>
						</tr>
						<tr>
							<th>所在地</th>
							<td>埼玉県越谷市川柳町二丁目401</td>
						</tr>
						<tr>
							<th>設立</th>
							<td>2023年10月</td>
						</tr>
						<tr>
							<th>代表者取締役CEO</th>
							<td>三森 一輝</td>
						</tr>
						<tr>
							<th>サービス</th>
							<td>
								デジタルトランスフォーメーション支援<br>
								ソフトウェアの企画・開発・運用<br>
								UX/UIデザイン<br>
								プロダクトの企画・開発・運用
							</td>
						</tr>
						<tr>
							<th>資本金</th>
							<td>1,000,000円</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</section>
	<section class="sec-access">
		<div class="inner">
			<h2 class="c-ttl__01">
				<span class="c-ft--en">ACCESS</span>
				<span class="c-ft--jp">アクセス</span>
			</h2>
			<div class="access-list">
				<div class="access-list__item">
					<h3 class="c-ttl__02">
						<img src="<%= RELATIVE_PATH %>img/about/jp.png" alt="jp">
						日本
					</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.23700871079!2d139.80793240000003!3d35.867708300000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601896ddf71a4ddb%3A0x102a767be778fdd7!2z5pel5pys44CB44CSMzQzLTA4Mjcg5Z-8546J55yM6LaK6LC35biC5bed5p-z55S677yS5LiB55uu77yU77yQ77yR!5e0!3m2!1sja!2s!4v1698592225369!5m2!1sja!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<p>〒343-0827　埼玉県越谷市川柳町2丁目401</p>
				</div>
				<div class="access-list__item">
					<h3 class="c-ttl__02">
						<img src="<%= RELATIVE_PATH %>img/about/vn.png" alt="vn">
						ベトナム
					</h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.5871408661806!2d105.7221895!3d21.0091805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134538fb8d27185%3A0xceca270da7d542ef!2zQ2h1bmcgY8awIFRoxINuZyBMb25nIFZpY3RvcnksIMSQQ1QwOCwgQW4gUGjDuiwgSG_DoGkgxJDhu6ljLCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1698592757609!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<p>Ha Noi 市 Hoai  Duc区 An Phu 町 Thang Long Capital ビル</p>
				</div>
			</div>
		</div>
	</section>
</main>