<main class="page-<%= pageData.template %>">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/serivecs/mv.png" alt="img" class="pc">
			<img src="<%= RELATIVE_PATH %>img/serivecs/mv-sp.png" alt="img" class="sp">
		</div>
		<h1 class="c-ttl__01 c-fc--white">
			<span class="c-ft--en">SERIVECS</span>
			<span class="c-ft--jp">事業概要</span>
		</h1>
	</section>
	<section class="sec-serivecs-page">
		<div class="serivecs-heading ">
			<div class="serivecs-heading__ct c-al--c c-txt__basic">
				<p>
					当社は「世界と日本の架け橋」を使命とし、<br>
					多岐にわたるサービスを提供しています。
				</p>
				<p>
					我々のサービスは、<br>
					国内外のクライアントに対して<br>
					価値あるソリューションを提供するための柱となっており、<br>
					以下の分野で活動しています。
				</p>
			</div>
			<img src="<%= RELATIVE_PATH %>img/serivecs/serivecs-heading-right.png" alt="img" class="serivecs-heading__img serivecs-heading__img--right">
			<img src="<%= RELATIVE_PATH %>img/serivecs/serivecs-heading-left.png" alt="img" class="serivecs-heading__img serivecs-heading__img--left">
		</div>
		<div class="inner">
			<div class="serivecs-list serivecs-list--page">
				<div class="serivecs-list__item">
					<div class="serivecs-list__ct c-txt__basic">
						<span class="serivecs-list__ct-number c-ft--en">SERVICE 01.</span>
						<h3 class="serivecs-list__ct-ttl">オフショア開発事業</h3>
						<div class="serivecs-list__img sp">
							<img src="<%= RELATIVE_PATH %>img/index/serivecs-img-01.png" alt="オフショア開発事業">
						</div>
						<h3 class="serivecs-list__ct-ttl-small">業種ごとの適切な提案・開発</h3>

						<p>
							事業領域ごとに製品を分類して、最適な技術選定をして 開発を行います。<br>
							経験豊富なエンジニアが複数いるからこそできる提案力、そして開発コストを可能な限り削減し、専門的な開発まで行うことができます。
						</p>
						<h3 class="serivecs-list__ct-ttl-small">失敗しないチーム体制</h3>
						<p>
							オフショア開発では、コミュニケーションがうまく取れず、期待していたものとは外れた成果物が納品されることがよく発生します。<br>
							弊社ではこのような事態を０にするべく、お客様とのやり取りを日本人が監視するなど、厚いチーム体制でプロジェクトを進めます。
						</p>
					</div>
					<div class="serivecs-list__img pc">
						<img src="<%= RELATIVE_PATH %>img/serivecs/serivecs-img-01.png" alt="オフショア開発事業">
					</div>
				</div>
				<div class="serivecs-list__item">
					<div class="serivecs-list__ct c-txt__basic">
						<span class="serivecs-list__ct-number c-ft--en">SERVICE 02.</span>
						<h3 class="serivecs-list__ct-ttl">人材派遣事業</h3>
						<div class="serivecs-list__img sp">
							<img src="<%= RELATIVE_PATH %>img/index/serivecs-img-02.png" alt="人材派遣事業">
						</div>
						<h3 class="serivecs-list__ct-ttl-small">
							各社のニーズに合わせた<br>
							海外人材の派遣
						</h3>

						<p>
							各種企業のニーズに合わせて海外人材を企業に提供致します。<br>
							企業側は自社のニーズにあった人材を採用できることによって、教育コストを抑えられ、さらに、企業が求める人材が入ることにより、即戦力で企業の力となります。
						</p>
						<p>
							日本は少子高齢化により若者が少なくなっている現状があります。<br>
							そんな状況を解決できるのは海外人材と協力することで未来の人材不足の問題を解決します。
						</p>
					</div>
					<div class="serivecs-list__img pc">
						<img src="<%= RELATIVE_PATH %>img/serivecs/serivecs-img-02.png" alt="人材派遣事業">
					</div>
				</div>
				<div class="serivecs-list__item">
					<div class="serivecs-list__ct c-txt__basic">
						<span class="serivecs-list__ct-number c-ft--en">SERVICE 03.</span>
						<h3 class="serivecs-list__ct-ttl">教育事業</h3>
						<div class="serivecs-list__img sp">
							<img src="<%= RELATIVE_PATH %>img/index/serivecs-img-03.png" alt="教育事業">
						</div>
						<h3 class="serivecs-list__ct-ttl-small">
							グローバル人材の育成
						</h3>

						<p>
							オフショア開発の中核となる、ブリッジエンジニアを育成します。<br>
							IT人材育成や外国語人材育成を行うサービスは多くありますが、弊社ではブリッジエンジニアに特化した教育事業を展開します。
						</p>
						<h3 class="serivecs-list__ct-ttl-small">
							ブリッジエンジニア教育
						</h3>
						<p>
							オフショア開発で失敗することの多くはコミュニケーション部分です。<br>
							ブリッジエンジニアを正しく育成することにより、オフショア開発の問題点の多くを解決することができるほか、ビジネスを加速させることができます。
						</p>
					</div>
					<div class="serivecs-list__img pc">
						<img src="<%= RELATIVE_PATH %>img/serivecs/serivecs-img-03.png" alt="教育事業">
					</div>
				</div>
				<div class="serivecs-list__item">
					<div class="serivecs-list__ct c-txt__basic">
						<span class="serivecs-list__ct-number c-ft--en">SERVICE 04.</span>
						<h3 class="serivecs-list__ct-ttl">法人設立事業</h3>
						<div class="serivecs-list__img sp">
							<img src="<%= RELATIVE_PATH %>img/index/serivecs-img-04.png" alt="法人設立事業">
						</div>
						<h3 class="serivecs-list__ct-ttl-small">
							ベトナム進出のコンサルティング
						</h3>

						<p>
							弊社は日本とベトナムで法人化をしており、ベトナムに進出するためのノウハウがあります。<br>
							事例をもとにコンサルティングを行うことができるため、より具体的なイメージを共有することができます。
						</p>
						<h3 class="serivecs-list__ct-ttl-small">
							初期から運用の段階までを<br>
							一貫サポート
						</h3>
						<p>
							初期から運用までのコンサルティングを一貫して行わせていただくことが可能です。<br>
							まだ進出することが固まりきっていない段階や興味程度の段階からご相談をお受けすることもできますので、お気軽にご連絡ください。
						</p>
					</div>
					<div class="serivecs-list__img pc">
						<img src="<%= RELATIVE_PATH %>img/serivecs/serivecs-img-04.png" alt="法人設立事業">
					</div>
				</div>
			</div>
		</div>

	</section>
</main>